<h1 class="title-home">Bienvenue dans le guide pour les futurs moussaillons de Nice</h1>
<h2>The Hacking Project</h2>
<br>
<p>Ce site a été conçu pour apporter une aide complete aux futurs moussaillons THP de Nice et de sa région. Vous retrouverez une véritable encyclopédie remplie de conseils et d'astuces pour optimiser l'apprentissage de votre formation The Hacking Project </p>

<div class="center-jumbotron">
  
  <%= link_to "Inscription", 'users/sign_up', class: "btn btn-lg btn-primary" %>
  <%= link_to "Connexion", 'users/sign_in', class: "btn btn-lg btn-primary" %>
</div>

<ul>
  <% if user_signed_in? %>


  	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </li>	
  
  <li>
  	<%= link_to "Edit Account", edit_user_registration_path %>
  </li>
  <% else %>
  <% end %>
</ul>


