<h1>Découvrez notre équipe !</h1>

<br>

<p>Voici le github officiel de notre équipe <a href="https://github.com/THP-nice">Github</a></p> <br>

<h3>Membres de l'équipe</h3>

<ul>
<li>Nathaniel Debache  
<a class="link" href="https://github.com/Natdenice">Github</a></li>
<li>Nikita Vasilev
<a class="link" href="https://github.com/nikitavasilev">Github</a></li>
<li>Ysaline Macé
<a class="link" href="https://github.com/Ysalien">Github</a></li>
<li>Thomas Charvey
<a class="link" href="https://github.com/TomacTh">Github</a></li>
<li>Arthur Mansuy
<a class="link" href="https://github.com/tutus06">Github</a></li>
</ul>