/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {

 	font-family: urw gothic l, sans-serif;
 	font-size: 1.1em;
 	color: white;
 	text-align: center;
 	background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 a {

color: white;

 }


footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.title-home
{
margin-top: 40px;
}

.intro-text-home
{

}	
 .center-jumbotron
}
{
	margin-top: 100px;
	font-family: urw gothic l, sans-serif;
 	font-size: 1.1em;
 	color: white;
 	text-align: center;
 	background: #000046; 
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title-contact
{
margin-top: 40px;
}

.team-title
{
margin-top: 40px;
}


.team-list
{
margin-top: 30px;
text-align: center;
font-size: 1.1em;	
}

.team-git {

margin-top: 30px;

}

.list-inline-item
{

color: white;

}

.link
{

color: orange;
font-size: 2em,

}
